body {
    font-family: "Roboto", sans-serif;
}

img[alt=boolean-xs-logo] {
    width: 50px;
}

aside {
    height: calc(100vh - 77px);
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-size: auto;
    background-color: #051e34;
}

aside i {
    width: 20px;
    height: 20px;
}

#content {
    height: calc(100vh - 77px);
    overflow: auto;
}

.blue-pill {
    background-color: #165bba;
    border-radius: 30px;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    align-self: center;
}

/* mediaqueris */
@media screen and (min-width:992px) {
    aside {
        width: 130px;
    }

    aside,
    #content {
        height: calc(100vh - 57.7167px);
    }
}

@media screen and (min-width:768px) {
    header {
        flex-direction: row;
    }

    #new-student {
        order: 3;
    }

    #online-student {
        order: 2;
    }

    #plane-tag {
        order: 1;
    }
}