body {
    font-family: "Roboto", sans-serif;
}

img[alt=boolean-xs-logo] {
    width: 50px;
}

aside {
    height: calc(100vh - 77px);
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-size: auto;
    background-color: #051e34;
}

aside i {
    width: 20px;
    height: 20px;
}

#content {
    height: calc(100vh - 77px);
    overflow: auto;
}

.blue-pill {
    background-color: #165bba;
    border-radius: 30px;
    padding: 0.1rem 0.5rem;
    font-size: 0.8rem;
    align-self: center;
}

.checkmark {
    font-size: 0.7rem;
    padding: 0.2rem 0.4rem;
    border-radius: 6px;
    color: white;
}

.my_head-of-section {
    background-color: #f7f7f7;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-bottom: 1px solid #e7e8e9;
    font-weight: 300;
}

.my_color-gray {
    color: #6c757d;
}

img[alt=avatar] {
    width: 2rem;
}

td {
    vertical-align: middle;
}

.fn-hover:hover {
    background-color: rgba(255, 255, 255, 0.7);
}

/* mediaqueris */
@media screen and (min-width:992px) {
    aside {
        width: 130px;
    }

    aside,
    #content {
        height: calc(100vh - 57.7167px);
    }
}